<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>CinemaProjet</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  <servlet-name>MaServlet</servlet-name>
  <servlet-class>com.CinemaProjet.MaServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>AjoutFilmServlet</servlet-name>
  <servlet-class>com.CinemaProjet.AjoutFilmServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>AjoutSeanceServlet</servlet-name>
  <servlet-class>com.CinemaProjet.AjoutSeanceServlet</servlet-class>
  </servlet>
   <servlet>
  <servlet-name>loginServlet</servlet-name>
  <servlet-class>com.CinemaProjet.loginServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>MaServlet</servlet-name>
  	<url-pattern>/listfm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AjoutFilmServlet</servlet-name>
  	<url-pattern>/ajoutf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AjoutSeanceServlet</servlet-name>
  	<url-pattern>/ajoutsc</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
  	<servlet-name>loginServlet</servlet-name>
  	<url-pattern>/ajoutlog</url-pattern>
  </servlet-mapping>
  
</web-app>